<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Constants.ProductName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Constants.ProductName, "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Constants.ProductName (@Constants.ProductDescription)</p>
        </footer>
    </div>

    <div class="modal fade" id="page-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title page-modal-title">{{titulo}}</h4>
                </div>
                <div class="modal-body">
                    <p class="page-modal-message">{{message}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        function gAlert (msg, cb) {
            $('#page-modal .page-modal-title').text('Alerta!');
            $('#page-modal .page-modal-message').text(msg);
            $('#page-modal').unbind('hidden.bs.modal');

            if (typeof cb === 'function') {
                $('#page-modal').on("hidden.bs.modal", cb);
            } else {
                $('#page-modal').on("hidden.bs.modal", function () { });
            }

            $('#page-modal').modal('show');
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
