@{
    ViewBag.Title = "Session";
}
<div class="row">
    <div class="page-header">
        <h1>
            <small>Sessão:</small>
            <span class="label label-default">@ViewBag.SessionID</span>
        </h1>
    </div>

    <textarea id="content-area" class="form-control" style="min-height:300px; min-width: 100%"></textarea>
</div>

<div class="row">
    <hr />
    <form class="form-inline">
        <button type="button" id="btn-send" class="btn btn-lg btn-success">
            <i class="glyphicon glyphicon-send"></i>
            Enviar
        </button>
        <button type="button" id="btn-receive" class="btn btn-lg btn-primary">
            <i class="glyphicon glyphicon-download-alt"></i>
            Receber
        </button>
    </form>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@ViewBag.SessionID'.length !== 8) {
                gAlert('Informe ou inicie uma nova sessão!', function () {
                    window.location.replace('@ViewBag.UrlHome');
                });
            }

            var _enabled = function (enabled) {
                $('#content-area').prop('disabled', !enabled);
            }

            var _send = function () {
                _enabled(false);

                $.ajax({
                    method: "POST",
                    url: "@ViewBag.UrlSend",
                    data: { sessionID: '@ViewBag.SessionID', content: $('#content-area').val() }
                })
                .done(function (data, status, config) {
                    if (config.statusText === 'OK') {
                        $('#content-area').val(data);
                    } else {
                        console.log('Erro:', data, status, config);
                    }

                    _enabled(true);
                });
            };

            var _receive = function () {
                _enabled(false);

                $.ajax({
                    method: "POST",
                    url: "@ViewBag.UrlReceive",
                    data: { sessionID: '@ViewBag.SessionID' }
                })
                .done(function (data, status, config) {
                    if (config.statusText === 'OK') {
                        $('#content-area').val(data);
                    } else {
                        console.log('Erro:', data, status, config);
                    }

                    _enabled(true);
                });
            };

            $('#btn-send').click(function () { _send() });
            $('#btn-receive').click(function () { _receive() });

            _receive();
        });
    </script>
}